<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body class="backgroundImg">

    <h1>Spirit Taekwondo Tracker</h1>
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav>

	<p></p>
	<h2>Your Stats</h2>
  <p></p>
	<h2>Upcoming Classes</h2>
	<div>
    <%const months = ["Jan", "Feb", "March", "April", "May","June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]%>
    <%const days= ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]%>
    <%for (i=0; i < classes.length; i++) {%>
    <li>
      <p class="classContainerLeft"><label>Class:</label> <%=classes[i].className%><br>
        <label>Belts:</label> <%=classes[i].beltQualifier[0]%> - <%=classes[i].beltQualifier[classes[i].beltQualifier.length -1]%>
      </p>
      <p class="classContainerRight">
        <!-- Date Parse -->
        <%day = classes[i].dateScheduled.getDay();%>
        <%month = classes[i].dateScheduled.getMonth();%>
        <%date = classes[i].dateScheduled.getDate();%>
        <%year = classes[i].dateScheduled.getFullYear();%>

        <!-- Time Parse-->
        <%hour = classes[i].dateScheduled.getHours();%>
        <% if (parseInt(hour) > 12) { %>
        <%hour = parseInt(hour) - 12%>
        <%morningAfternoon = "PM"%>
        <%} else {%>
        <%morningAfternoon = "AM"%>
        <%}%>
      <%minute = classes[i].dateScheduled.getMinutes();%>
        <%if (minute < 10){	%>
        <%minute = ("0" + minute)	%>
        <%}%>

        <%=days[day]%> <%=hour%>:<%=minute%> <%=morningAfternoon%><br>
        <%=months[month]%> <%=date%>, <%=year%>
      <br>
        </p>
	<p class="classContainerIcons">
    <!-- Icons from iconfinder.com -->
		<a href="/sessions/<%=classes[i]._id%>/edit" display="block"><img class ="editIcon" src="8581110_start_writing_pencil_pen_write_icon.png"></a>
    
    <form action="/sessions/<%=classes[i]._id%>?_method=DELETE" method="POST">
      <input type="image" class ="deleteIcon" src="430088_circle_close_delete_remove_icon.png">
    </form>

	</p></li>
	<%}%>
</div>
<div>

</div>
</section>
</body>

</html>